<p class="fs-7">
    Lagt ut av
    {% if object.created_by %}
        <a href="{{ object.created_by.get_absolute_url }}">{{ object.created_by }}</a>
    {% else %}
        <em>ukjent</em>
    {% endif %}
    den
    <time
        datetime="{{ object.created | date:"c" }}"
        title="{{ object.created }}"
    >
        {{ object.created | date }}</time>.

    Sist redigert av
    {% if object.modified_by %}
        <a href="{{ object.modified_by.get_absolute_url }}">{{ object.modified_by }}</a>
    {% else %}
        <em>ukjent</em>
    {% endif %}
    den
    <time
        datetime="{{ object.modified | date:"c" }}"
        title="{{ object.modified }}"
    >
        {{ object.modified | date }}</time>.
</p>