{% if messages %}
<div class="container">
    <ul class="list-unstyled">
        {% for message in messages %}
            <li class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </li>
        {% endfor %}
    </ul>
</div>
{% endif %}