{% extends 'base.html' %}

{% block title_page %} Buttonar {% endblock title_page %}
{% block title_content %} Buttonar {% endblock title_content %}

{% block content %}
    <section>
        {% load embeddable_text markdown %}
        {% get_embeddable_text "Framgangsmåte for buttongenerator" as text %}
        {{ text | markdown }}
    </section>

    {% load crispy_forms_tags %}
    {% crispy form %}

    <section class="mt-5">
        <header class="mb-2">
            <h2 class="mb-0">Motivbibliotek</h2>

            {% if user.is_authenticated %}
                <a href="{% url 'buttons:ButtonDesignCreate' %}" class="btn btn-primary btn-sm my-1">Nytt motiv</a>
            {% endif %}
        </header>
        {% get_embeddable_text "Buttonmotivbibliotek" as text %}
        {{ text | markdown }}

        {% include "buttons/includes/button_design_list.html" with button_designs=button_designs %}
    </section>
{% endblock content %}
