{% extends "base.html" %}

{% block title_page %}{{ forum.title }}{% endblock title_page %}
{% block title_content %}{{ forum.title }}{% endblock title_content %}

{% block header %}
    {{ block.super }}

    <a href="{% url 'forum:TopicCreate' forum.slug %}" class="btn btn-primary btn-sm my-1"> Nytt emne </a>
{% endblock header %}

{% block content %}
    {% if topics %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Emne</th>
                    <th>Svar</th>
                    <th>Siste innlegg</th>
                </tr>
            </thead>
            <tbody>
                {% for topic in topics %}
                <tr>
                    <td>
                        <div class="mb-1 fs-5">
                            <a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a>
                        </div>
                        <div>av
                            {% if topic.created_by %}
                                <a href="{{ topic.created_by.get_absolute_url }}">
                                    {{ topic.created_by.username }}
                                </a>
                            {% else %}
                                <em>ukjent</em>
                            {% endif %}
                            |
                            <time datetime="{{ topic.created | date:"c" }}">
                                {{ topic.created | date:"d.m.Y - H:i" }}
                            </time>
                        </div>
                    </td>
                    <td>{{ topic.posts.count }}</td>
                    <td>
                        {% include "forum/includes/latest_post.html" with post=topic.posts.latest only %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

    {% include "common/includes/pagination.html" with pagination_label="Emnesider" %}
{% endblock content %}