{% include "bootstrap5/table_inline_formset.html" %}

{{ formset.media }}

{% block js %}
    {% load static %}
    <script src="{% static 'common/forms/shade_delete.js' %}"></script>
    <script src="{% static 'common/forms/dynamic_formset.js' %}"></script>
{% endblock js %}

{% block css %}
    {% load compress %}
    {% compress css %}
        <link
            href="{% static 'common/forms/table_inline_formset.scss' %}"
            rel="stylesheet"
            type="text/scss"
        >
    {% endcompress %}
{% endblock css %}
