{% extends "base.html" %}

{% block title_page %}
    Instrumentoversikt
{% endblock title_page %}
{% block title_content %}
    Instrumentoversikt
{% endblock title_content %}

{% block sidebar %}{% endblock sidebar %}

{% block header %}
    {{ block.super }}

    <nav>
        {% if perms.instruments.add_instrument %}
        <a href="{% url "instruments:InstrumentCreate" %}" class="btn btn-primary btn-sm my-1">Nytt instrument</a>
        {% endif %}
    </nav>
{% endblock header %}

{% block content %}
    {% block instrument_list %}
    <div id="instrument-list">
        {% regroup instruments by type.group as instruments_by_group %}

        <nav class="mb-3" >
            <form
                hx-get="."
                hx-params="*"
                hx-replace-url="true"
                hx-headers='{"use-block": "instrument_list"}'
                hx-target="#instrument-list"
                hx-swap="outerHTML"
                hx-trigger="change, submit"
            >
            <label class="form-label d-block col-md-6">
                Instrumentgruppe
                <select
                    class="form-select autocompleteselect mt-2"
                    name="instrument_group"
                >
                    <option
                        value=""
                        {% if not request.GET.instrument_group %}
                        selected
                        {% endif %}
                    >
                        Alle
                    </option>
                    {% for group in instrument_groups %}
                        <option
                        value="{{ group.slug }}"
                        {% if request.GET.instrument_group == group.slug %}
                        selected
                        {% endif %}
                        >
                            {{ group }}
                        </option>
                    {% endfor %}
                </select>
            </label>
            <label class="form-label d-block col-md-6">
                Søk
                <input type="search" class="form-control" name="search" value="{{ request.GET.search }}" /> 
            </label>

            <button type="submit" class="btn btn-primary">Filtrer</button>
            </form>
        </nav>

        {% if instruments_by_group %}
        {% for group in instruments_by_group %}
        <h2>{{ group.grouper }}</h2>
                
            <ul class="list-unstyled row gy-4">
            {% for instrument in group.list %}
            <li class="col-md-4">
                {% include "instruments/includes/instrument_card.html" with instrument=instrument %}
            </li>
            {% endfor %}
            </ul>
        {% endfor %}
        {% else %}
        <p>Ingen instrument funne.</p>
        {% endif %}
    </div>
    {% endblock instrument_list %}
{% endblock content %}

