@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "variables";
@import "bootstrap/scss/mixins/breakpoints";

body {
  background-color: #0d192b;
  background-image: url("/static/advent_calendar/nightskymobilecrop.png");
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  @include media-breakpoint-up(md) {
    background-image: url("/static/advent_calendar/nightsky.png");
  }
}

.dancing-script {
  font-family: "Dancing Script";
}

.windows {
  display: grid;
  grid-gap: 25px;

  grid-template-rows: repeat(12, 120px);
  grid-template-columns: repeat(2, 120px);
  @include media-breakpoint-up(sm) {
    grid-template-rows: repeat(8, 120px);
    grid-template-columns: repeat(3, 120px);
  }
  @include media-breakpoint-up(md) {
    grid-template-rows: repeat(6, 120px);
    grid-template-columns: repeat(4, 120px);
  }
  @include media-breakpoint-up(lg) {
    grid-template-rows: repeat(4, 120px);
    grid-template-columns: repeat(6, 120px);
  }
}

.window-button {
  background-color: white;
  box-shadow: inset 0 0 10px #555;
}
.window-button.written {
  background: url("/static/advent_calendar/squigglyLines.svg"), white;
  background-size: cover;
}

.window-button > button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #a297c3;
  color: #fffe;
  font-size: 56px;
  box-shadow: 0 15px 15px rgba(64, 93, 50, 0.03),
    5px 10px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.7s ease;
  transform-origin: right;
}
.window-button > button:hover {
  transform: perspective(1000px) rotate3d(0, 1, 0, 27deg);
}
.window-button.opened > button {
  transform: perspective(1000px) rotate3d(0, 1, 0, 140deg);
}
.window-button.written > button {
  background-color: $button-color-advent-calendar;
}

@keyframes topToBottom {
  from {
    top: -9px;
  }
  to {
    top: 100%;
  }
}
@keyframes wiggle {
  from {
    transform: translateX(40px);
  }
  to {
    transform: translateX(-40px);
  }
}

.snowflake {
  width: 9px;
  height: 9px;
  position: fixed;
  top: 0;
  color: white;
  font-size: 10px;
  animation-duration: 10s, 1.5s;
  animation-name: topToBottom, wiggle;
  animation-iteration-count: infinite;
  animation-timing-function: linear, ease-in-out;
  animation-direction: normal, alternate;
}
.snowflake:nth-child(1) {
  left: 5%;
  animation-delay: -4.2s;
}
.snowflake:nth-child(2) {
  left: 13%;
  animation-delay: -2.6s;
}
.snowflake:nth-child(3) {
  left: 23%;
  animation-delay: -7s;
}
.snowflake:nth-child(4) {
  left: 30%;
  animation-delay: -1.1s;
}
.snowflake:nth-child(5) {
  left: 32%;
}
.snowflake:nth-child(6) {
  left: 38%;
  animation-delay: -6.6s;
}
.snowflake:nth-child(7) {
  left: 42%;
  animation-delay: -7.3s;
}
.snowflake:nth-child(8) {
  left: 48%;
  animation-delay: -8.7s;
}
.snowflake:nth-child(9) {
  left: 56%;
  animation-delay: -4.1s;
}
.snowflake:nth-child(10) {
  left: 64%;
  animation-delay: -3.2s;
}
.snowflake:nth-child(11) {
  left: 70%;
  animation-delay: -5.8s;
}
.snowflake:nth-child(12) {
  left: 72%;
  animation-delay: -2.1s;
}
.snowflake:nth-child(13) {
  left: 78%;
  animation-delay: -9.4s;
}
.snowflake:nth-child(14) {
  left: 83%;
  animation-delay: -6.4s;
}
