<ul class="row row-cols-1  row-cols-md-2 g-3 list-unstyled">
    {% for mascot in mascots %}
        <li class="col">
            <div class="card h-100">
                <div class="card-body d-flex flex-column justify-content-left align-items-left">
                    <h2 class="card-title fs-5 mb-0 text-center">{{ mascot.name }}</h3>
                    {% if mascot.image.url is not None %}
                        <div class="m-3 d-flex align-items-center justify-content-center my-2">
                            {% load images %}
                            {% image image=mascot.image description=mascot.name max_height=280 %}
                        </div>     
                    {% endif %}            
                    <dl class="dl-inline m-0">
                        <dt>Laga i perioden</dt>
                        <dd>{% firstof mascot.creation_start_date "?" %} - {% firstof mascot.creation_end_date "?" %}</dd>
                        <dt>Laga av</dt>
                        <dd>
                            {{ mascot.get_creators }}
                        </dd>
                        {% if mascot.created_by == request.user or request.user in mascot.creators.all or perms.salvage_diary.change_mascot or perms.salvage_diary.delete_mascot %}
                        <dt>Url til NFC-tag</dt>
                        <dd>
                            {{ mascot.get_url }}
                        </dd>
                        {% endif %}
                    </dl>   
                    {% if mascot.note %}
                        <hr>
                        {% load markdown %}
                        {{ mascot.note | markdown }}
                    {% endif %}
                    {% if mascot.created_by == request.user or request.user in mascot.creators.all or perms.salvage_diary.change_mascot or perms.salvage_diary.delete_mascot %}
                        <ul class="list-inline my-1">
                            {% if perms.salvage_diary.change_mascot or mascot.created_by == request.user or request.user in mascot.creators.all %}
                                <li class="list-inline-item">
                                    <a href="{% url 'salvage_diary:MascotUpdate' mascot.slug %}" class="btn btn-primary btn-sm">
                                        Rediger maskot
                                    </a>
                                </li>
                            {% endif %}
                            {% if perms.salvage_diary.delete_mascot or mascot.created_by == request.user or request.user in mascot.creators.all %}
                                <li class="list-inline-item">
                                    <a href="{% url 'salvage_diary:MascotDelete' mascot.slug %}" class="btn btn-danger btn-sm">
                                        Slett maskot
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
