<ul class="row row-cols-1 row-cols-md-2 g-3 list-unstyled">
    {% for entry in salvageDiaryEntries %}
        <li class="col">
            <div class="card h-100">
                <div class="card-body d-flex flex-column justify-content-left align-items-left">
                    <h2 class="card-title fs-5 mb-0 text-center">{{ entry.title }}</h3>
                    {% if entry.image.url is not None %}
                        <div class="m-3 d-flex align-items-center justify-content-center my-2">
                            {% load images %}
                            {% image image=entry.image description=entry.title max_height=280 %}
                        </div>     
                    {%endif%}
                    <dl class="dl-inline m-0">
                        <ul class="row row-cols-1  row-cols-md-2 g-3 list-unstyled">
                            <li class="col">
                                <dt>Berga</dt>
                                <dd>{{ entry.item_or_mascot }}</dd>
                                <dt>Bergera</dt>
                                <dd>{% firstof entry.thieves entry.get_users "Ukjent" %}</dd>
                            </li>
                            <li class="col">  
                                <dt>Når</dt>
                                <dd>
                                    <time datetime="{{ entry.created | date:"c" }}">
                                            {{ entry.created | date:"j. b Y" }}
                                    </time>
                                </dd>
                                <dt>Under</dt>
                                <dd>
                                    {% firstof entry.event "Ukjent" %}
                                </dd>
                            </li>
                        </ul>
                    </dl>
                    {% if entry.story %}
                        <hr>
                        {% load markdown %}
                        {{ entry.story | markdown }}
                    {% endif %}

                    {% if entry.is_internal %}
                        {% if entry.created_by == request.user or perms.salvage_diary.change_salvagediaryentryinternal or perms.salvage_diary.delete_salvagediaryentryinternal %}
                            <ul class="list-inline my-1">
                                {% if perms.salvage_diary.change_salvagediaryentryinternal or entry.created_by == request.user %}
                                    <li class="list-inline-item">
                                        <a href="{% url 'salvage_diary:SalvageDiaryEntryUpdateInternal' entry.pk %}" class="btn btn-primary btn-sm">
                                            Rediger innlegg
                                        </a>
                                    </li>
                                {% endif %}
                        
                                {% if perms.salvage_diary.delete_salvagediaryentryinternal or entry.created_by == request.user %}
                                    <li class="list-inline-item">
                                        <a href="{% url 'salvage_diary:SalvageDiaryEntryDeleteInternal' entry.pk %}" class="btn btn-danger btn-sm">
                                            Slett innlegg
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    {% else %}
                        {% if perms.salvage_diary.change_salvagediaryentryexternal or perms.salvage_diary.delete_salvagediaryentryexternal %}
                            <ul class="list-inline my-1">
                                {% if perms.salvage_diary.change_salvagediaryentryexternal %}
                                    <li class="list-inline-item">
                                        <a href="{% url 'salvage_diary:SalvageDiaryEntryUpdateExternal' entry.pk %}" class="btn btn-primary btn-sm">
                                            Rediger innlegg
                                        </a>
                                    </li>
                                {% endif %}
                
                                {% if perms.salvage_diary.delete_salvagediaryentryexternal %}
                                    <li class="list-inline-item">
                                        <a href="{% url 'salvage_diary:SalvageDiaryEntryDeleteExternal' entry.pk %}" class="btn btn-danger btn-sm">
                                            Slett innlegg
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
