<nav class="navbar p-1 mb-4 navbar-expand-xl sticky-top navbar-dark {% if PRODUCTION %} bg-primary {% else %}" style="background-color:#058104; {% endif %}">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" />
            {% now "m" as month %}
            {% load static %}
            {% if month == "12" %}
                <img class="w-14 me-2" src="{% static 'images/logo_santa_hat.svg' %}">
            {% else %}
                <img class="w-14 me-2" src="{% static 'images/logo.svg' %}">
            {% endif %}

            <span class="fw-bold d-none d-smr-inline">
                <span class="d-none d-sm-inline d-xl-none d-xxl-inline">Studentorchesteret</span>
                Dei Taktlause
            </span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsable"
            aria-controls="collapsable" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse navbar-nav-scroll" style="--bs-scroll-height: 65vh;" id="collapsable">
            {% include "navbar/includes/navbar_items.html" %}
            {% include "navbar/includes/profile_dropdown.html" %}
        </div>
    </div>
</nav>
