<ul class="nav navbar-nav">
    <li class="nav-item dropdown">
        {% if user.is_authenticated %}
            <a
                class="nav-link dropdown-toggle text-decoration-none"
                href="{% url "easter_eggs:IceCream" %}"
                id="dropdown-button-profile"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                {% load images %}
                {% image image=user.avatar description=user.name fallback_url=user.default_avatar lightbox=False css_class="w-10 h-10 object-fit-contain bg-white rounded-circle border border-2 border-white" %}
            </a>
            <ul class="dropdown-menu navbar-dropdown-menu dropdown-menu-end" aria-labelledby="dropdown-button-profile">
                <li class="nav-item">
                    <a class="
                        dropdown-item
                        nav-link
                        bg-reset
                        p-2
                        "
                        href="{{ user.get_absolute_url }}">
                        <div class="fw-bold">{{ user.name }}</div>
                        <div class="text-decoration-none">
                            {% if user.instrument_type %}
                                {{ user.instrument_type }}
                            {% else %}
                                Inga instrumentgruppe
                            {% endif %}
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="
                        dropdown-item
                        nav-link
                        bg-reset
                        p-2
                        {% if user.get_edit_url == request_path %} active {% endif %}
                        "
                        href="{{ user.get_edit_url }}">
                        Rediger profil
                    </a>
                </li>
                <li class="nav-item">
                    <a class="
                        dropdown-item
                        nav-link
                        bg-reset
                        p-2
                        "
                        href="{% url 'logout' %}?next=/">
                        <button class="btn btn-sm btn-danger">
                            Logg ut
                        </button>
                    </a>
                </li>
            </ul>
        {% else %}
        <a class="
                    nav-link
                    dropdown-toggle
                    text-decoration-none
                    "
                href="{% url "easter_eggs:IceCream" %}"
                id="dropdown-button-login"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >
                Logg inn
            </a>
            <div class="dropdown-menu p-3 dropdown-menu-end" aria-labelledby="dropdown-button-login">
                {% load crispy_forms_tags %}
                {% crispy form_login %}
                <a href="{% url 'password_reset' %}">Be om nytt passord</a>
            </div>
        {% endif %}
    </li>
</ul>
