{% extends "common/forms/form.html" %}

{% block form %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                {% load crispy_forms_tags %}
                {% crispy form %}
            </div>
            <div class="col-lg-8">
                {% include "pictures/image_forms.html" with images=form.instance.images.all %}
            </div>
        </div>
    </div>
{% endblock %}

