{% extends 'base.html' %}

{% block title_page %}Fotoarkiv {{ selected_year }}{% endblock title_page %}
{% block title_content %}Fotoarkiv {{ selected_year }}{% endblock title_content %}

{% block header %}
    {{ block.super }}

    <ul class="list-inline my-1">
        <li class="list-inline-item">
            <a href="{% url 'pictures:NewestImagesList' %}" class="btn btn-secondary btn-sm">Nyaste bilete</a>
        </li>
        <li class="list-inline-item">
            <a href="{% url 'pictures:GalleryCreate' %}" class="btn btn-primary btn-sm">Nytt galleri</a>
        </li>
    </ul>
{% endblock header %}

{% block content %}
    <div id="gallery-list">
        {% include "pictures/includes/select_gallery_by_year.html" with years_with_galleries=years_with_galleries selected_year=selected_year %}

        {% if galleries %}
            <div class="container">
                <ul class="list-unstyled row">
                    {% for gallery in galleries %}
                    <li class="col-md-6 my-4">
                        {% include "pictures/includes/gallery_list_item.html" with gallery=gallery images=gallery.images.all|slice:":1"  only  %}
                    </li>
                    {% endfor %}
                </ul>
            </div>

            {% include "pictures/includes/select_gallery_by_year.html" with years_with_galleries=years_with_galleries selected_year=selected_year %}
        {% else %}
            <p class="mt-3">Ingen galleri funne!</p>
        {% endif %}
    </div>
{% endblock content %}

