{% extends "base.html" %}

{% block title_page %}{{ gallery.title }}{% endblock %}
{% block title_content %}{{ gallery.title }}{% endblock %}

{% block header %}
    {{ block.super }}
    {% include "common/includes/created_modified.html" with object=gallery only %}

    <ul class="list-inline">
        <li class="list-inline-item">
            <a
                href="{% url 'pictures:GalleryUpdate' gallery.slug %}"
                class="btn btn-primary btn-sm"
            >
                Rediger
            </a>
        </li>

        <li class="list-inline-item">
            <a
                href="{% url 'pictures:ImageCreate' gallery.slug %}"
                class="btn btn-primary btn-sm"
            >
                Last opp bilete
            </a>
        </li>

        {% if perms.pictures.delete_gallery and perms.pictures.delete_image or gallery.created_by == request.user %}
        <li class="list-inline-item">
            <a
                href="{% url 'pictures:GalleryDelete' gallery.slug %}"
                class="btn btn-danger btn-sm"
            >
                Slett
            </a>
        </li>
        {% endif %}
    </ul>
{% endblock header %}

{% block content %}
    <dl class="dl-inline">
        <dt>Dato</dt>
        <dd>
            <time datetime="{{ gallery.date | date:"c" }}">{{ gallery.date }}</time>
            {% if gallery.date_to %}
            - <time datetime="{{ gallery.date_to | date:"c" }}">{{ gallery.date_to }}</time>
            {% endif %}
        </dd>

        {% if gallery.events.exists %}
            <dt>Hendingar</dt>
            {% for event in gallery.events.all %}
                <dd>
                    {% spaceless %}
                    <a
                        href="{{ event.get_absolute_url }}"
                    >{{event.title}}</a>
                    {% if not forloop.last %}<span>,</span>{% endif %}
                    {% endspaceless %}

                </dd>
            {% endfor %}
        {% endif %}
    </dl>

    {% load markdown %}
    {{ gallery.content | markdown }}

    <ul class="list-unstyled d-flex flex-wrap justify-content-center">
    {% for image in images %}
        <li class="d-flex justify-content-center align-items-center m-3 h-52">
            {% load images %}
            {% image image=image.image description=image.description gallery=gallery.slug max_height=200 %}
        </li>
    {% endfor %}
    </ul>

    {% load comments %}
    {% comment_list gallery %}
{% endblock %}

