{% extends "common/forms/form.html" %}

{% block form %}
    {% load embeddable_text markdown %}
    {% get_embeddable_text "Bileteopplastingsinformasjon" as text %}
    {{ text | markdown }}

    {{ block.super }}

    <section id="progress-container" class="d-none">
        <h2>Framdrift</h2>

        <div class="progress h-6 fs-6">
            <div class="progress-bar" role="progress-bar"></div>
        </div>

        <ul id="error-list" class="mt-3"></ul>
    </section>
{% endblock form %}

{% block js %}
    {{ block.super }}
    {% load static %}
    <script src="{% static 'common/js/fetching.js' %}"></script>
    <script src="{% static 'pictures/image_form.js' %}"></script>
{% endblock js %}

