<div>
    <ol class="list-unstyled">
        {% for image in images %}
        <li>
            {% block image_form %}
            {% include "common/includes/messages.html" %}
            <form
                class="position-relative form-image"
                hx-post="{% url "pictures:ImageUpdate" image.gallery.slug image.pk %}"
                hx-trigger="change, submit"
                hx-swap="outerHTML"
            >
            <div class="card shadow my-4">
                <div class="card-body d-flex justify-content-center align-items-center m-0 p-0 h-96">
                    {% load images %}
                    {% image image=image.image description=image.description gallery=image.gallery.slug %}
                </div>

                <div class="card-footer p-0">
                    <input
                        type="text"
                        class="form-control p-3 fs-5"
                        placeholder="Skriv ei beskriving her..."
                        name="description"
                        value="{{ image.description }}"
                    />
                </div>
            </div>

            <div class="position-absolute top-0 end-0 me-3 mt-3">
                <button
                    class="btn btn-primary"
                    type="submit"
                >
                   Lagre 
                </button>

                <a
                    class="btn btn-danger"
                    hx-delete="{% url "pictures:ImageDelete" image.gallery.slug image.pk %}"
                    hx-confirm="Er du sikker på at du vil slette biletet?"
                    hx-swap="outerHTML"
                    hx-target="closest form"
                >
                   Slett 
                </a>
            </div>
            </form>
            {% endblock image_form %}
        </li>
        {% endfor %}
    </ol>
</div>
