
{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.3/datatables.min.css"/>
{% endblock css %}

{% block title_page %}{{ event.title }}{% endblock title_page %}
{% block title_content %}{{ event.title }}{% endblock title_content %}

{% block header %}
    {{ block.super }}
    {% include "common/includes/created_modified.html" with object=event only %}

    {% if perms.events.change_event or event.created_by == request.user or perms.events.view_eventattendance %}
        <ul class="list-inline">
            {% if perms.events.change_event or event.created_by == request.user %}
            <li class="list-inline-item">
                <a
                    href="{% url 'events:EventUpdate' event.start_time|date:"Y" event.slug %}"
                    class="btn btn-primary btn-sm"
                >
                    Rediger
                </a>
            </li>
            {% endif %}

            {% if perms.events.view_eventattendance %}
            <li class="list-inline-item">
                <a
                    href="{% url 'events:EventAttendanceList' event.start_time|date:"Y" event.slug %}"
                    class="btn btn-primary btn-sm"
                >
                    Sjå svar
                </a>
            </li>
            {% endif %}

            {% if perms.events.delete_event or event.created_by == request.user %}
            <li class="list-inline-item">
                <a
                    href="{% url 'events:EventDelete' event.start_time|date:"Y" event.slug %}"
                    class="btn btn-danger btn-sm"
                >
                    Slett
                </a>
            </li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock header %}

{% block content %}
    {% include "events/includes/keyinfo_section.html" with event=event only %}
    {% load markdown %}
    {{ event.content | markdown }}
    
    {% if event.include_active_repertoires or event.repertoires.exists or event.extra_scores.exists %}
        {% include "events/includes/repertoire.html" with event=event only %}
    {% endif %}

    <hr />

    {% load crispy_forms_tags %}
    {% crispy event.attendance_form %}

    {% include "events/includes/attendances.html" with title="Deltek" attendances=event.attending %}
    {% include "events/includes/attendances.html" with title="Deltek kanskje" attendances=event.attending_maybe %}
    {% include "events/includes/attendances.html" with title="Deltek ikkje" attendances=event.attending_not %}

    {% load comments %}
    {% comment_list event %}
{% endblock content %}

{% block js %}
    <script src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.3/datatables.min.js"></script>
    {% load static %}
    <script src="{% static "events/event_detail.js" %}"></script>
{% endblock js %}

