{% extends 'base.html' %}

{% block title_page %}{{ event.title }} - Svar{% endblock title_page %}
{% block title_content %}{{ event.title }} - Svar{% endblock title_content %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.3/datatables.min.css"/>
{% endblock css %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-striped table-sm" id="attendance_list">
            <thead>
                <tr>
                    <th>Brukar</th>
                    <th>Status</th>
                    <th>Instrumenttype</th>
                    <th>Jakkenr.</th>
                    <th>Laga</th>
                    <th>Redigert</th>
                </tr>
            </thead>
            <tbody>
                {% for attendance in attendances %}
                <tr>
                    <td>
                        <a href="{{ attendance.person.get_absolute_url }}">
                            {{ attendance.person }}
                        </a>
                    </td>
                    <td>{{ attendance.get_status_display }}</td>
                    <td>
                        {% firstof attendance.get_instrument_type "Ukjent" %}
                    </td>
                    <td>
                        {{ attendance.person.jacket.number }}
                    </td>
                    <td data-order="{{ attendance.created | date:"c" }}">
                        <time datetime="{{ attendance.created | date:"c" }}">
                            {{ attendance.created }}
                        </time>
                    </td>
                    <td data-order="{{ attendance.modified | date:"c" }}">
                        <time datetime="{{ attendance.modified | date:"c" }}">
                            {{ attendance.modified }}
                        </time>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock content %}

{% block js %}
    <script src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.3/datatables.min.js"></script>
    {% load static %}
    <script src="{% static "events/eventattendance_list.js" %}"></script>
{% endblock js %}
