
{% extends "base.html" %}

{% block title_page %}
    {% if view.kwargs.year %}
        Hendingar {{ view.kwargs.year }}
    {% else %}
        Framtidige hendingar
    {% endif %}
{% endblock title_page %}
{% block title_content %}
    {% if view.kwargs.year %}
        Hendingar {{ view.kwargs.year }}
    {% else %}
        Framtidige hendingar
    {% endif %}
{% endblock title_content %}

{% block header %}
    {{ block.super }}

    <a
        href="{% url 'events:EventCreate' %}"
        class="btn btn-primary btn-sm my-1"
    >
        Ny hending
    </a>
{% endblock header %}

{% block content %}
    <section class="mb-3">
        <p>
            {% include "events/includes/ical_button.html" %}
        </p>
        {% include "events/includes/select_event_by_year.html" with years_with_events=years_with_events selected_year=view.kwargs.year filter_type=view.kwargs.filter_type %}
    </section>

    {% if events %}
    <section>
    {% regroup events by start_month as events_grouped %}
    <ol class="list-unstyled">
        {% for group in events_grouped %}
        <li>
            <h2> {{ group.grouper|date:"F"|capfirst }} {% if not year %}{{ group.grouper|date:"Y" }}{% endif %} </h2>
            <hr>

            <ol class="list-unstyled">
                {% for event in group.list %}
                <li>
                    {% include "events/includes/event_list_card.html" with event=event csrf_token=csrf_token only %}
                </li>
                {% endfor %}
            </ol>
        </li>
        {% endfor %}
    </ol>
    </section>
    {% endif %}
{% endblock content %}

{% block js %}
    {% load static %}
    <script src="{% static "events/ical_button.js" %}"></script>
{% endblock js %}