<ul class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xxl-4 g-4 list-unstyled">
    {% for brew in brews %}
    <li class="col">
        <div class="card h-100">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <h3 class="card-title fs-5 mb-0 text-center">{{ brew.name }}</h3>

                <div class="d-flex align-items-center justify-content-center my-2">
                    {% load images %}
                    {% image image=brew.logo fallback_url=brew.default_logo description=brew.name gallery="brews" max_height=120 %}
                </div>                

                <dl class="dl-inline m-0">
                    <dt>Alkoholprosent</dt>
                    <dd>
                        {% if brew.alcohol_by_volume is not None %}
                            ~{{ brew.alcohol_by_volume | floatformat }} %
                        {% else %}
                            Ukjent
                        {% endif %}
                    </dd>
                </dl>

                {% if brew.description %}
                    <p class="my-2">
                        {% load markdown %}
                        {{ brew.description | markdown_inline_no_links }}
                    </p>
                {% endif %} 

                {% if brew.sizes.all %}
                    <ul class="list-inline d-flex align-items-center flex-column mt-1">
                        {% load brew_price_for_size %}
                        {% for size in brew.sizes.all %}
                        <li class="list-inline-item m-2">
                            <a
                                href="{% url 'brewing:BrewPurchaseCreate' brew.slug %}?size={{ size.pk }}"
                                class="btn btn-primary btn-sm"
                            >
                                Skaff {{ size }} for {% brew_price_for_size brew size %} NOK
                            </a>
                        </li>                       
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="mt-1">
                        Brygget er gratis!
                    </p>
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

