<td class="w-16">
    <div class="mx-auto w-10 h-10">
        <a
            href="{{ user.get_absolute_url }}"
            class="d-flex justify-content-center w-100 h-100"
        >
            {% load images %}
            {% image image=user.avatar description=user.name fallback_url=user.default_avatar lightbox=False css_class="mw-100 mh-100 object-fit-contain" %}
        </a>
    </div>
</td>  
