{% if attendances %}
    <section class="my-4">
        <h2 class="mb-3">{{ title }}</h2>
        <div class="table-responsive">
            <table class="table table-striped table-attendance">
                <thead>
                    <tr>
                        <th></th>
                        <th>Namn</th>
                        <th>Instrumenttype</th>
                        <th>Instrumenttypesortering</th>
                        <th>Instrumentgruppe</th>
                        <th>Instrumentgruppesortering</th>
                        <th>Jakkenr.</th>
                        <th><span class="visually-hidden">Rediger</span></th>
                        <th><span class="visually-hidden">Slett</span></th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    {% for attendance in attendances %}
                    <tr>
                        {% include "accounts/includes/avatar_table_td.html" with user=attendance.person only %}
                        <td>
                            <a href="{{ attendance.person.get_absolute_url }}">
                                {{ attendance.person.name_with_pronouns }}
                            </a>
                        </td>
                        <td >
                         {% firstof attendance.get_instrument_type "Ukjent" %}
                        </td>
                        <td>
                            {{attendance.get_instrument_type_order}}
                        </td> 
                        <td >
                            {% firstof attendance.get_instrument_group "Ukjent" %}
                        </td> 
                        <td>
                            {{attendance.get_instrument_group_order}}
                        </td>
                        <td>
                            {{ attendance.person.jacket.number }}
                        </td>
                        <td class="text-center">
                            {% if user == attendance.person or perms.events.change_eventattendance %}
                            <a
                                href="{% url 'events:EventAttendanceUpdate' attendance.event.start_time|date:"Y" attendance.event.slug attendance.person.slug %}"
                                class="btn btn-primary btn-sm"
                            >
                                Rediger
                            </a>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if user == attendance.person or perms.events.delete_eventattendance %}
                            <a
                                href="{% url 'events:EventAttendanceDelete' attendance.event.start_time|date:"Y" attendance.event.slug attendance.person.slug %}"
                                class="btn btn-danger btn-sm"
                            >
                                Slett
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        ({{ attendances.count }} brukar{{attendances.count | pluralize:"ar"}})
    </section>
{% endif %}


