{% include "common/includes/messages.html" %}

<div class="card p-3 mb-5 shadow-sm">
    <div class="card-body">
        <h3>
            <a href="{{event.get_absolute_url}}">
                {{ event }}
            </a>
        </h3>
        
        {% include "events/includes/keyinfo_section.html" with event=event only %}

        {% load markdown %}
        {% if event.keyinfo_entries.count == 0 %}
            {{ event.content|markdown|truncatewords_html:32 }}
        {% else %}
            {{ event.content|markdown|truncatewords_html:12 }}
        {% endif %}

        <hr />

        {% load crispy_forms_tags %}
        {% crispy event.attendance_form %}
    </div>
</div>