<dl class="dl-inline">
    <dt>Tidspunkt</dt>
    <dd>
        {% include "events/includes/event_time.html" with event=event date_format="l j. F, Y – H:i" %}
    </dd>
    {% if event.location %}
        <dt>Stad</dt>
        <dd>
            {% if event.location_map_link %}
                <a href="{{ event.location_map_link }}" rel="nofollow">{{ event.location }}</a>
            {% else %}
                {{ event.location }}
            {% endif %}
        </dd>
    {% endif %}
    <dt>Kategori</dt>
    <dd>
        {{ event.category }}
    </dd>
    {% if event.galleries.exists %}
        <dt>Galleri</dt>
        {% for gallery in event.galleries.all %}
            <dd>
                {% spaceless %}
                <a
                    href="{{ gallery.get_absolute_url }}"
                >
                    {{gallery.title}}
                </a>
                {% if not forloop.last %}<span>,</span>{% endif %}
                {% endspaceless %}
            </dd>
        {% endfor %}
    {% endif %}
    {% for entry in event.keyinfo_entries.all %}
        <dt>{{ entry.key }}</dt>
        {% load markdown %}
        <dd>{{ entry.info | markdown_inline }}</dd>
    {% endfor %}
</dl>
