<nav>
    <label class="form-label d-block m-0">
        Hendingar å vise
        <select
            class="form-select autocompleteselect mt-2"
            name="year"
            onchange="location.href=this.value"
        >
            <option
                value="{% url 'events:EventList' %}"
                {% if not selected_year and not filter_type %}selected{% endif %}
            >
                Alle framtidige hendingar
            </option>
            <option
                value="{% url "events:EventListFilter" "ikkje-svara-på"  %}"
                {% if not selected_year and filter_type == "ikkje-svara-på" %}selected{% endif %}
            >
                Hendingar som ikkje er svara på
            </option>
            {% for year in years_with_events %}
                <option
                    value="{% url 'events:EventListYear' year %}"
                    {% if selected_year == year %}selected{% endif %}
                >
                    {{ year }}
                </option>
            {% endfor %}
        </select>
    </label>
</nav>