{% extends "base.html" %}

{% block title_page %}Referatkategoriar{% endblock title_page %}
{% block title_content %}Referatkategoriar{% endblock title_content %}

{% block header %}
    {{ block.super }}

    {% if perms.category.add_minutescategory %}
    <a class="btn btn-primary btn-sm my-1" href="{% url 'minutes:MinutesCategoryCreate' %}">
        Ny kategori
    </a>
    {% endif %}
{% endblock header %}

{% block content %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Namn</th>
                <th><span class="visually-hidden">Rediger</span></th>
                <th><span class="visually-hidden">Slett</span></th>
            </tr>
        </thead>

        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>

                <td class="text-center">
                    {% if perms.category.change_minutescategory %}
                    <a
                        href="{% url 'minutes:MinutesCategoryUpdate' category.slug %}"
                        class="btn btn-primary btn-sm"
                    >
                        Rediger
                    </a>
                    {% endif %}
                </td>

                <td class="text-center">
                    {% if perms.category.delete_minutescategory %}
                    <a
                        href="{% url 'minutes:MinutesCategoryDelete' category.slug %}"
                        class="btn btn-danger btn-sm"
                    >
                        Slett
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
