{% extends "base.html" %}

{% block title_page %}Referat{% endblock title_page %}
{% block title_content %}Referat{% endblock title_content %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.3/datatables.min.css"/>
{% endblock css %}

{% block header %}
    {{ block.super }}

    <ul class="list-inline my-1">
        <li class="list-inline-item">
            <a class="btn btn-primary btn-sm my-1" href="{% url 'minutes:MinutesCreate' %}">
                Nytt referat
            </a>
        </li>

        <li class="list-inline-item">
            <a class="btn btn-secondary btn-sm my-1" href="{% url 'minutes:MinutesCategoryList' %}">
                Kategoriar
            </a>
        </li>
    </ul>
{% endblock header %}

{% block content %}
<div class="mb-3 col-md-3">
    <label class="form-label" for="select-category">
        Kategori:
    </label>
    <select class="select form-select" id="select-category">
        <option value="">
            Alle
        </option>
        {% for category in categories %}
            <option value="{{ category }}">
                {{ category }}
            </option>
        {% endfor %}
    </select>
</div>

<div class="table-responsive">
    <table class="table table-striped" id="minutes-table">
        <thead>
            <tr>
                <th>Tittel</th>
                <th>Lagt ut av</th>
                <th>Kategori</th>
                <th>Møtedato</th>
            </tr>
        </thead>

        <tbody>
            {% for minutes in minutes_list %}
            <tr>
                <td>
                    <a href="{{ minutes.get_absolute_url }}">
                        {{ minutes.title }}
                    </a>
                </td>

                <td>
                    {% if minutes.created_by %}
                        <a href="{{ minutes.created_by.get_absolute_url }}">
                            {{ minutes.created_by }}
                        </a>
                    {% else %}
                        Ukjent
                    {% endif %}
                </td>

                <td>{{ minutes.category }}</td>

                <td data-order="{{ minutes.date | date:"U" }}">
                    <time datetime="{{ minutes.date | date:"c" }}">
                        {{ minutes.date }}
                    </time>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}

{% block js %}
    <script src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.3/datatables.min.js"></script>
    {% load static %}
    <script src="{% static "minutes/minutes_list.js" %}"></script>
{% endblock js %}
