{% extends 'base.html' %}

{% block title_page %}{{ minutes.title }}{% endblock title_page %}
{% block title_content %}{{ minutes.title }}{% endblock title_content %}

{% block header %}
    {{ block.super }}
    {% include "common/includes/created_modified.html" with object=minutes only %}

    <ul class="list-inline">
        {% if perms.minutes.change_minutes or minutes.created_by == request.user %}
        <li class="list-inline-item">
            <a class="btn btn-primary btn-sm" href="{% url 'minutes:MinutesUpdate' minutes.slug %}">
                Rediger
            </a>
        </li>
        {% endif %}

        {% if perms.pictures.delete_minutes or minutes.created_by == request.user %}
        <li class="list-inline-item">
            <a
                href="{% url 'minutes:MinutesDelete' minutes.slug %}"
                class="btn btn-danger btn-sm"
            >
                Slett
            </a>
        </li>
        {% endif %}
    </ul>
{% endblock header %}

{% block content %}
    <dl class="dl-inline">
        <dt>Møtedato</dt>
        <dd>{{ minutes.date }}</dd>
        <dt>Kategori</dt>
        <dd>{{ minutes.category }}</dd>

        {% if minutes.file %}
            <dt>Referatfil</dt>
            {% load utils %}
            <dd><a href="{{ minutes.file.url }}">{{ minutes.file | filename }}</a></dd>
        {% endif %}
    </dl>

    {% load markdown %}
    {{ minutes.content | markdown }}

    {% load comments %}
    {% comment_list minutes %}
{% endblock content %}
