{% extends "base.html" %}

{% block title_page %}
    Lagertilgjenge
{% endblock title_page %}

{% block title_content %}
    Lagertilgjenge
{% endblock title_content %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.3/datatables.min.css"/>
{% endblock css %}

{% block header %}
    {{ block.super }}
    {% if perms.accounts.view_storage_access and perms.accounts.edit_storage_access %}
        <a class="btn btn-primary btn-sm my-1" href="{% url 'storage:StorageAccessUpdate' %}">Rediger</a>
    {% endif %}
{% endblock header %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-striped table-sm" id="storage-access">
            <thead>
                <tr>
                    <th> Namn </th>
                    <th> Studentkortnummer </th>
                    <th> Har fått lagertilgjenge </th>
                    <th> Vart medlem </th>
                </tr>
            </thead>
            <tbody>
                {% for user in active_users %}
                        <tr>
                            <td> <a href="{{ user.get_absolute_url }}"> {{ user.name }} </a> </td>
                            <td> {{ user.student_card_number }} </td>
                            <td>
                                {{ user.has_storage_access | yesno | capfirst }}
                            </td>
                            <td class="white-space-nowrap" data-order="{{ user.date_joined | date:"c" }}">
                                <time datetime="{{ user.date_joined | date:"c" }}">
                                    {{ user.date_joined | date }}
                                </time>
                            </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
    <script src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.3/datatables.min.js"></script>
    {% load static %}
    <script src="{% static "storage/storage.js" %}"></script>
{% endblock js %}
