{% if user.is_authenticated %}
<section class="mt-4">
    {% if not forum_posts %}
        <h2 class="fs-3"> Kommentarar ({{comments | length }}) </h2>
    {% endif %}

    <ol class="list-unstyled">
    {% for comment in comments %}
        <li id="comment-{{ comment.pk }}" class="mb-4">
            <article class="d-flex">
                <div class="mx-2 my-1 w-12 h-12 flex-shrink-0">
                    {% if comment.created_by %}
                        <a
                            href="{{ comment.created_by.get_absolute_url }}"
                            class="d-flex justify-content-center w-100 h-100"
                        >
                            {% load images %}
                            {% image image=comment.created_by.avatar description=comment.created_by.name fallback_url=comment.created_by.default_avatar lightbox=False css_class="mw-100 mh-100 object-fit-contain" %}
                        </a>
                    {% else %}
                        <span
                            class="d-flex justify-content-center w-100 h-100"
                        >
                            {% load static %}
                            <img
                                src="{% static "accounts/default-avatar.svg" %}"
                                class="object-fit-cover mw-100 mh-100"
                            />
                        </span>
                    {% endif %}
                </div>

                <div class="p-margin-last-0 mx-1 flex-1 overflow-auto">
                    <h3 class="fw-bold fs-6 m-0">
                        {% if comment.created_by %}
                            <a
                                href="{{ comment.created_by.get_absolute_url }}"
                                class="text-decoration-none text-reset"
                            >
                                {{ comment.created_by.name_with_pronouns }}
                            </a>
                        {% else %}
                            <span class="text-decoration-none text-reset">
                                Ukjent
                            </span>
                        {% endif %}
                    </h3>


                    {% load markdown %}
                    {{ comment.comment | markdown }}

                    <footer>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <time
                                    datetime="{{ comment.created | date:"c" }}"
                                    title="{{ comment.created }}"
                                    class="fw-light"
                                >
                                    {% load humanize %}
                                    {{ comment.created | naturaltime }}
                                </time>
                            </li>
                            {% if user == comment.created_by or perms.comments.change_comment %}
                                <li class="list-inline-item">
                                    <a href="{% url 'comments:CommentUpdate' comment.pk %}">Rediger</a>
                                </li>
                            {% endif %}
                            {% if user == comment.created_by or perms.comments.delete_comment %}
                                <li class="list-inline-item">
                                    <a href="{% url 'comments:CommentDelete' comment.pk %}">Slett</a>
                                </li>
                            {% endif %}
                        </ul>
                    </footer>
                </div>
            </article>
        </li>
    {% endfor %}
    </ol>

    <section>
        <h3 class="fs-4">
            Skriv
            {% if forum_posts %}
                nytt innlegg
            {% else %}
                ny kommentar
            {% endif %}
        </h3>
        {% load crispy_forms_tags %}
        {% crispy form %}
    </section>
</section>
{% endif %}
