// Bootstrap settings
$enable-shadows: true;

// Colors
$primary: #a50104;
$secondary: #848201;
$navbar-dark-color: rgba(255, 255, 255, 0.9);
$button-color-advent-calendar: #5d4f8a;

// Forms
$form-check-input-width: 1.5em;
$form-check-min-height: 2em;

$accordion-border-width: 0px;
$accordion-button-focus-box-shadow: none;
$accordion-button-active-bg: $body-bg;
$accordion-button-active-color: $body-color;
$accordion-icon-color: $body-color;
$accordion-icon-active-color: $body-color;
