<nav>
    <label class="form-label d-block m-0">
        År
        <select
            class="form-select autocompleteselect mt-2"
            name="year"
            onchange="location.href=`?year=${this.value}`"
        >
            {% for year in years_with_galleries %}
                <option
                    value="{{ year }}"
                    {% if selected_year == year %}selected{% endif %}
                >
                    {{ year }}
                </option>
            {% endfor %}
        </select>
    </label>
</nav>