/*
 * Useful stylesheet for displaying a pdf in a page.
 *
 * Sets top and height to fill the page without conflicting the navbar.
 * It is intended to be used with .sticky-top and typically also .w-100.
 */

@import "bootswatch/dist/darkly/variables";
@import "variables";

.pdf-iframe {
  top: 150px;
  height: calc(100vh - 150px);
}
