<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>Notenamn</th>
            <th><span class="visually-hidden">Favorittstemmer</span></th>
	    <th>Arrangement</th>
            <th><span class="visually-hidden">Stemmeoversikt</span></th>
        </tr>
    </thead>
    <tbody>
    {% for score in repertoire.scores.all %}
        <tr>
            <td>
                {{ score }}
            </td>
            <td>
                {% if score.user_has_favorite_parts %}
                    {% load embed_pdf_url %}
                    {% url "sheetmusic:FavoritePartsPdf" score.slug as favorite_parts_pdf_url %}

                    {% if request.user.use_embedded_pdf_viewer %}
                    <a href="{{ favorite_parts_pdf_url|embed_pdf_url_minimal }}"> Favorittstemmer </a>
                    {% else %}
                    <a href="{{ favorite_parts_pdf_url }}"> Favorittstemmer </a>
                    {% endif %}
                {% endif %}
            </td>
	    <td>
	      {{ score.arrangement }}
	    </td>
            <td>
                <a href="{% url "sheetmusic:ScoreView" score.slug %}"> Stemmeoversikt </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul class="list-inline my-1">
    <li class="list-inline-item">
        <a href="{% url 'repertoire:RepertoirePdf' repertoire.slug %}" class="btn btn-primary btn-sm"> Generer PDF fra favorittstemmer </a>
    </li>
    {% if perms.repertoire.change_repertoire %}
        <li class="list-inline-item">
            <a href="{% url 'repertoire:RepertoireUpdate' repertoire.slug %}" class="btn btn-secondary btn-sm"> Rediger </a>
        </li>
    {% endif %}
    {% if perms.repertoire.delete_repertoire %}
        <li class="list-inline-item">
            <a href="{% url 'repertoire:RepertoireDelete' repertoire.slug %}" class="btn btn-danger btn-sm"> Slett </a>
        </li>
    {% endif %}
    </li>
</ul>
