<ul class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-4 list-unstyled">
    {% for button_design in button_designs %}
    <li class="col">
        <div class="card h-100">
            <div class="h-40 d-flex align-items-center justify-content-center">
                {% load images %}
                {% image image=button_design.image description=button_design.name gallery="button_designs" %}
            </div>
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                <h3 class="card-title fs-5 mb-0 text-center">{{ button_design.name }}</h3>

                <ul class="list-inline d-flex justify-content-center flex-wrap mt-3">
                    <li class="list-inline-item m-1">
                        <a
                            download
                            href="{{ button_design.get_absolute_url }}"
                            target="_blank"
                            class="btn btn-primary btn-sm"
                        >
                            Last ned
                        </a>
                    </li>

                    {% if perms.buttons.change_buttondesign or button_design.created_by == request.user %}
                    <li class="list-inline-item m-1">
                        <a href="{% url 'buttons:ButtonDesignUpdate' button_design.slug %}" class="btn btn-secondary btn-sm">Rediger</a>
                    </li>
                    {% endif %}

                    {% if perms.buttons.delete_buttondesign or button_design.created_by == request.user %}
                    <li class="list-inline-item m-1">
                        <a href="{% url 'buttons:ButtonDesignDelete' button_design.slug %}" class="btn btn-danger btn-sm">Slett</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>