{% if poll %}
    <dl>
        {% for choice in poll.choices.all %}
        <dt class="mb-2">{{ choice }}</dt>
        <dd class="d-flex mb-3 position-relative bg-gray-700 rounded text-white">
            {% with choice.percentage as percentage %}
                <div
                    class="d-flex h-100 rounded bg-primary position-absolute"
                    style="width: {{ percentage }}%;"
                ></div>
                <div
                    class="d-flex w-100 mx-2"
                    style="z-index: 1;"
                >
                    <span>{{ percentage }} %</span>
                    <span class="ms-auto">{{ choice.votes.count }} røyst{{ choice.votes.count|pluralize:"er" }}</span>
                </div>
            {% endwith %}
        </dd>
        {% endfor %}
    </dl>
    <p>{{ poll.num_voting }} har stemt</p>
{% endif %}

