{% extends "base.html" %}

{% block title_page %}Brukarfiler{% endblock title_page %}
{% block title_content %}Brukarfiler{% endblock title_content %}¨

{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.3/datatables.min.css"/>
{% endblock css %}

{% block header %}
    {{ block.super }}

    <a class="btn btn-primary btn-sm my-1" href="{% url 'user_files:FileCreate' %}">Ny fil</a>
{% endblock header %}

{% block content %}
{% if user_files %}
    <div class="table-responsive">
        <table class="table table-striped" id="user-files">
            <thead>
                <tr>
                    <th>Fil</th>
                    <th>Laga av</th>
                    <th>Lagt ut</th>
                    <th><span class="visually-hidden">Offentleg</span></th>
                    <th><span class="visually-hidden">Rediger</span></th>
                    <th><span class="visually-hidden">Slett</span></th>
                </tr>
            </thead>

            <tbody>
                {% for user_file in user_files %}
                <tr>
                    <td>
                        <a href="{{ user_file.get_absolute_url }}">
                            {{ user_file.name }}
                        </a>
                    </td>

                    <td>
                        {% if user_file.created_by %}
                            <a href="{{ user_file.created_by.get_absolute_url }}">
                                {{ user_file.created_by }}
                            </a>
                        {% else %}
                            Ukjent
                        {% endif %}
                    </td>

                    <td data-order="{{ user_file.created | date:"U" }}">
                        <time datetime="{{ user_file.created | date:"c" }}">
                            {{ user_file.created | date:"j. F Y" }}
                        </time>
                    </td>

                    <td>
                        {% if user_file.public %}
                        Offentleg
                        {% endif %}
                    </td>

                    <td class="text-center">
                        {% if user == user_file.created_by or perms.user_files.change_file %}
                        <a
                            href="{% url 'user_files:FileUpdate' user_file.slug %}"
                            class="btn btn-primary btn-sm"
                        >
                            Rediger
                        </a>
                        {% endif %}
                    </td>

                    <td class="text-center">
                        {% if user == user_file.created_by or perms.user_files.delete_file %}
                        <a
                            href="{% url 'user_files:FileDelete' user_file.slug %}"
                            class="btn btn-danger btn-sm"
                        >
                            Slett
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
{% endblock content %}

{% block js %}
    <script src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.3/datatables.min.js"></script>
    {% load static %}
    <script src="{% static "user_files/file_list.js" %}"></script>
{% endblock js %}
