{% extends "base.html" %}

{% block title_page %} {{ title }} {% endblock title_page %}
{% block title_content %} {{ title }} {% endblock title_content %}

{% block header %}
    {{ block.super }}
    <ul class="list-inline my-1">
        {% if perms.honor.add_honormember %}
            <li class="list-inline-item"> 
                <a class="btn btn-primary btn-sm my-1" href="{% url 'honor:HonorCreate' %}">
                    Legg til heder
                </a>
            </li>
        {% endif %}

        {% if view.kwargs.filter_type %}
        <li class="list-inline-item">
            <a href="{% url 'honor:HonorList' %}" class="btn btn-secondary btn-sm">Alle</a>
        </li>
        {% endif %}

        {% if view.kwargs.filter_type != "hedersmedlem" %}
        <li class="list-inline-item">
            <a href="{% url 'honor:HonorListFilter' 'hedersmedlem' %}" class="btn btn-secondary btn-sm">Hedersmedlemmar</a>
        </li>
        {% endif %}
        {% if view.kwargs.filter_type != "æresmedlem" %}
        <li class="list-inline-item">
            <a href="{% url 'honor:HonorListFilter' 'æresmedlem' %}" class="btn btn-secondary btn-sm">Æresmedlemmar</a>
        </li>
        {% endif %}
    </ul>
{% endblock header %}


{% block content %}

{% load embeddable_text markdown %}
{% get_embeddable_text embeddable_text as text %}
{{ text | markdown }}

    {% if honors %}
    <div class="container my-5">
        {% for honor in honors %}
        {% include "honor/includes/honor.html" with honor=honor  %}
        {% if perms.honor.change_honormember or perms.honor.delete_honormember %}
        <ul class="list-inline mb-1">
            {% if perms.honor.change_honormember %}
                <li class="list-inline-item">
                    <a href="{% url 'honor:HonorUpdate' honor.slug %}" class="btn btn-primary btn-sm">
                        Rediger
                    </a>
                </li>
            {% endif %}
            {% if perms.honor.delete_honormember %}
                <li class="list-inline-item">
                    <a href="{% url 'honor:HonorDelete' honor.slug %}" class="btn btn-danger btn-sm">
                        Slett
                    </a>
                </li>
            {% endif %}
        </ul>
        {% endif %}
        <hr class="mb-5 ">

       
            {% endfor %}
        </div>
    {% else %}
        <p>Ingen heder registrert.</p>
    {% endif %}
{% endblock %}
