<div class="d-flex flex-column gap-3">
    {% if not user.is_authenticated %}
        <section class="card p-3">
            <h2 class="fs-3">Innlogging</h2>
            {% load crispy_forms_tags %}
            {% crispy form_login %}
            <a href="{% url 'password_reset' %}">Be om nytt passord</a>
        </section>
    {% endif %}

    {% if user.is_authenticated and brewing_balance < 0 %}
        <section class="card p-3">
            <h2 class="fs-3">Bryggjekassa</h2>
            <p>
                {% load utils %}
                Du skuldar bryggjekassa <strong>{{ brewing_balance|abs }} NOK</strong>.
            </p>

            <div>
                <a
                    href="{% url 'brewing:DepositCreate' %}"
                    class="btn btn-primary btn d-inline-block"
                >
                    Legg inn pengar
                </a>
            </div>
        </section>
    {% endif %}    

    {% if user.is_authenticated and attending_not_or_maybe %}
        <section class="card p-3">
            <h2 class="fs-3">Hendingar</h2>
            <p>
                Du har anten <em>ikkje svart</em> eller svart <em>kanskje</em> på desse hendingane dei neste 7 dagane. Vil du oppdatera svaret ditt?
            </p>

           
            <ul>
                {% for event in attending_not_or_maybe %}
                <li>
                    <a href="{{ event.get_absolute_url }}">
                        {{ event }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}  

    {% if user.is_authenticated and user.image_sharing_consent == "UNKNOWN" %}
        <section class="card p-3">
            <h2 class="fs-3">Sosiale medier</h2>
            <p>
                Kan bilete du er med i delast på DT sine sosiale medier?
            </p>

            {% crispy form_image_sharing_consent %}
        </section>
    {% endif %}

    {% if poll %}
        <section class="card p-3">
            <h2 class="fs-3">{{ poll }}</h2>

            {% load polls %}
            {% vote_or_results poll user request_path %}

            <footer>
                <a href="{% url "polls:PollList" %}">Eldre avstemmingar</a>
            </footer>
            
        </section>
    {% endif %}
    
    {% if user.is_authenticated %}
    <section class="card p-3">
        <h2 class="fs-3">Tilbakemelding</h2>
        <p>Send inn anonyme tilbakemeldingar her!</p>
        {%if feedback_recipients%}
            <ul>
                {% for recipient in feedback_recipients %}
                    {% if recipient.is_visible %}
                        <li>
                            <a href="{% url 'feedback:FeedbackView' recipient.slug %}">
                                {{ recipient.name }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif%}
    </section>
    {% endif %}
    

</div>
