{% extends "./base.html" %}

{% block title_page %}Julekalender {{ advent_calendar.year }}{% endblock title_page %}

{% block content %}
    <h1 class="text-white my-4 dancing-script">Julekalender {{ advent_calendar.year }}</h1>

    <ul class="windows mb-4 list-unstyled">
        {% for index in permutation %}
        <li>
            <div class="window-button w-100 h-100" data-index="{{ index }}">
                <button type="button">{{ index }}</button>
            </div>
        </li>
        {% endfor %}
    </ul>

    <div id="modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            {% for window in advent_calendar.windows.all %}
                <article class="modal-content window-modal d-none" data-index="{{ window.index }}">
                    <header class="modal-header flex-column align-items-start">
                        <div class="d-flex align-items-center justify-content-between w-100">
                            <h2 class="modal-title">{{ window.title }}</h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        {% if window.created_by == user or perms.advent_calendar.change_window or perms.advent_calendar.delete_window %}
                        <ul class="list-inline mt-2 mb-0">
                            {% if window.created_by == user or perms.advent_calendar.change_window %}
                            <li class="list-inline-item">
                                <a
                                    href="{% url 'advent_calendar:WindowUpdate' advent_calendar.year window.index %}"
                                    class="btn btn-advent-calendar text-white"
                                >
                                    Rediger
                                </a>
                            </li>
                            {% endif %}

                            {% if window.created_by == user or perms.advent_calendar.delete_window %}
                            <li class="list-inline-item">
                                <a
                                    href="{% url 'advent_calendar:WindowDelete' advent_calendar.year window.index %}"
                                    class="btn btn-danger"
                                >
                                    Slett
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                        {% endif %}
                    </header>

                    <div class="modal-body">
                        {% include "common/includes/created_modified.html" with object=window only %}
                        {% load markdown %}
                        {{ window.content | markdown }}

                        <hr />

                        {% load comments %}
                        {% comment_list window %}
                    </div>


                </article>
            {% endfor %}

            <section id="form-container" class="modal-content d-none" data-year="{{ advent_calendar.year }}">
                <header class="modal-header">
                    <h2 class="modal-title">Ny luke</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </header>

                <div class="modal-body">
                    {% load crispy_forms_tags %}
                    {% crispy form %}
                </div>
            </section>
        </div>
    </div>
{% endblock content %}

{% block js %}
    {% load static %}
    <script src="{% static 'advent_calendar/advent_calendar.js' %}"></script>
{% endblock js %}
