{% extends "base_base.html" %}

{% block title_page %}Julekalender{% endblock title_page %}

{% block css %}
  <link
    href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap&text=TaktlusJendr0123456789"
    rel="stylesheet"
  />
  {% load static %}
  {% load compress %}
  {% compress css %}
    <link
      rel="stylesheet"
      type="text/scss"
      href="{% static 'advent_calendar/advent_calendar.scss' %}"
    />
  {% endcompress %}
{% endblock css %}

{% block body %}
  <div class="snowflakes" aria-hidden="true">
    {% load utils %}
    {% for i in 14|get_range %}
      <div class="snowflake">❆</div>
    {% endfor %}
  </div>

  <main class="d-flex flex-column justify-content-center align-items-center min-vh-100">
    {% block content %}{% endblock content %}
  </main>
{% endblock body %}
