<h2>Hendingar</h2>
{% if  "/"  in number_events_answered %}
 Du har svart på {{number_events_answered}} hendingar for det neste året!
 {% else %}
 Du har svart på alle {{number_events_answered}} hendingar for det neste året! Godt jobba!
 {% endif %}

<ul>
    {% for event in events %}
    <li>
        <a href="{{event.get_absolute_url}}">
            {{event.title}}
        </a>
        <div>
            {% include "events/includes/event_time.html" with event=event date_format="d.m.Y – H:i" %}
        </div>
    </li>
    {% endfor %}
</ul>

<ul class="d-flex flex-wrap list-unstyled">
    <li class="m-2">
        <a class="btn btn-primary" href="{% url "events:EventList" %}"> Alle hendingar </a>
    </li>

    <li class="m-2">
        {% include "events/includes/ical_button.html" %}
    </li>
</ul>
