<h2>Nyaste bilete</h2>

<ul class="list-unstyled d-flex flex-wrap row">
    {% for gallery in galleries %}
        {% for image in gallery.images_latest|slice:":1" %}
            <li class="col-md-6">
                <h3><a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a></h3>
                <div class="d-flex justify-content-center align-items-center p-3 h-52">
                    {% load images %}
                    {% image image=image.image description=image.description gallery="latest" max_height=200 %}
                </div>
            </li>
        {% endfor %}
    {% endfor %}
</ul>

<ul class="list-inline">
    <li class="list-inline-item">
        <a class="btn btn-primary" href="{% url "pictures:NewestImagesList" %}"> Nyaste bilete </a>
    </li>
    <li class="list-inline-item">
        <a class="btn btn-primary" href="{% url "pictures:GalleryList" %}"> Alle bilete </a>
    </li>
</ul>
