<h2>Hine hårde dagar</h2>

<ul class="list-unstyled d-flex flex-wrap row">
    {% for image in images %}
        <li class="col-md-6">
            <h3><a href="{{ image.gallery.get_absolute_url }}">{{ image.gallery.title }}</a></h3>
            <div class="d-flex justify-content-center align-items-center p-3 h-52">
                {% load images %}
                {% image image=image.image description=image.description gallery="random" max_height=200 %}
            </div>
        </li>
    {% endfor %}
</ul>
