<div class="d-flex align-items-center">
    <div>
        <a href="{{ user.get_absolute_url }}">
            {% load images %}
            {% image image=user.avatar description=user.name fallback_url=user.default_avatar lightbox=False max_height=64 %}
        </a>
    </div>

    <h2 class="ms-3">{{ user }}</h2>
</div>

<dl class="dl-inline mt-3">
    <dt> Medlemsstatus </dt>
    <dd> {{ user.get_membership_status_display }} </dd>

    <dt>Instrumentgruppe</dt>
    <dd>
        {% if user.instrument_type %}
            {{ user.instrument_type.group }}
            {% if user.instrument_type.name != user.instrument_type.group.name %}
            ({{ user.instrument_type }})
            {% endif %}
        {% else %}
            Ukjent
        {% endif %}
    </dd>

    {% if user.jacket %}
        <dt>Jakkenummer</dt>
        <dd>{{ user.jacket.number }}</dd>
    {% endif %}

    <dt>Har lagertilgjenge</dt>
    <dd>{{ user.has_storage_access | yesno | capfirst }}</dd>

    <dt>Roller</dt>
    <dd>
        {% if not user.groups.exists %}
            Ingen
        {% else %}
            <ul>
                {% for group in user.groups.all %}
                <li>{{ group }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </dd>
</dl>
