<h2>{{ title }}</h2>

<ul class="list-unstyled">
    {% for quote in quotes %}
    <li>
        {% include "quotes/includes/quote.html" with quote=quote disable_edit_delete=True %}
    </li>
    {% endfor %}
</ul>

<p>
    <a class="btn btn-primary" href="{% url "quotes:QuoteList" %}"> Alle sitat </a>
</p>
