{% if post %}
    <div>
        <a href="{{ post.get_absolute_url }}">
            {{ post }}
        </a>
    </div>
    <div>av
        {% if post.created_by %}
            <a href="{{ post.created_by.get_absolute_url }}">
                {{ post.created_by.username }}
            </a>
        {% else %}
            <em>ukjent</em>
        {% endif %}
    </div>
    <div>
        <time datetime="{{ post.created | date:"c" }}">
            {{ post.created | date:"d.m.Y - H:i" }}
        </time>
    </div>
{% else %}
    <i>Inga innlegg funne</i>
{% endif %}