<div class="my-3">
    <figure>
        <blockquote class="blockquote">
            {% load markdown %}
            {{ quote.quote | markdown }}
        </blockquote>
        <figcaption class="blockquote-footer">
            {{ quote.quoted_as_or_users }}
            -
            <time
                datetime="{{ quote.created | date:"c" }}"
                title="{{ quote.created | date }}"
            >
                {{ quote.created | date }}
            </time>
        </figcaption>
    </figure>

    {% if not disable_edit_delete %}
    {% if quote.created_by == request.user or perms.quotes.change_quote or perms.quotes.delete_quote %}
    <ul class="list-inline my-1">
        {% if perms.quotes.change_quote or quote.created_by == request.user %}
        <li class="list-inline-item">
            <a href="{% url 'quotes:QuoteUpdate' quote.pk %}" class="btn btn-primary btn-sm">
                Rediger sitat
            </a>
        </li>
        {% endif %}

        {% if perms.quotes.delete_quote or quote.created_by == request.user %}
        <li class="list-inline-item">
            <a href="{% url 'quotes:QuoteDelete' quote.pk %}" class="btn btn-danger btn-sm">
                Slett sitat
            </a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
    {% endif %}
</div>
