<div class="card h-100 p-3 shadow-sm">
    <div class="card-body">
        <h3 class="fs-4 text-center">{{ instrument }}</h3>

        <dl class="dl-inline m-0">
            <dt>Vert lånt av</dt>
            <dd>
                {% if instrument.user %}
                    <a href="{{ instrument.user.get_absolute_url }}"> {{ instrument.user }} </a>
                    {% if not instrument.user.is_active_member %}
                        ({{ instrument.user.get_membership_status_display }})
                    {% endif %}
                {% else %}
                    <span class="fst-italic">Ingen</span>
                {% endif %}
            </dd>

            <dt>Stad</dt>
            <dd>{{ instrument.location }}</dd>

            <dt>Serienummer</dt>
            <dd>
                {% if instrument.serial_number %}
                    {{ instrument.serial_number }}
                {% else %}
                    <span class="fst-italic">Ukjent</span>                            
                {% endif %}
            </dd>

            <dt>Tilstand</dt>
            <dd>{{ instrument.get_state_display }}</dd>

            <dt>Sist endra</dt>
            <dd>
                <time datetime="{{ instrument.modified | date:"c" }}">
                    {{ instrument.modified | date:"j. b Y" }}
                </time>
            </dd>
        </dl>

        {% if instrument.comment %}
            <p class="mt-3 mb-0">{{ instrument.comment }}</p>
        {% endif %}

        {% if perms.instruments.change_instrument or perms.instruments.delete_instrument %}
        <nav class="mt-3">
            <ul class="list-inline d-flex">
                {% if perms.instruments.change_instrument %}
                <li class="list-inline-item">
                    <a
                        href="{% url 'instruments:InstrumentUpdate' instrument.slug %}"
                        class="btn btn-primary btn-sm"
                    >
                        Rediger
                    </a>
                </li>
                {% endif %}

                {% if perms.instruments.delete_instrument %}
                <li class="list-inline-item">
                    <a
                        href="{% url 'instruments:InstrumentDelete' instrument.slug %}"
                        class="btn btn-danger btn-sm"
                    >
                        Slett
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</div>
