<div id="{{ honor.slug }}" class="row mb-3" >
    <div class="col-sm">
      <div class="d-flex justify-content-center">
        {% load images %}
        {% image image=honor.image description=honor.user.name fallback_url=honor.default_image max_height=320 %}
      </div>
    </div>
    <div class="col-sm">
      <h1 class="fs-3 mb-1">
        {% if honor.user %}
        <a href="{{ honor.user.get_absolute_url }}">
          {{ honor.user.name }}
        </a>
        {% else %}
          {{ honor.name }}
        {% endif %}
        
      </h1>
     
      <dl class="dl-inline m-0">
          <dt>Heder</dt>
          <dd>{{ honor.get_honor_type_display }}</dd>

          <dt>Dato utnemnt</dt>
          <dd>{% firstof honor.appointment_date "Ukjent" %} </dd>

          {% if honor.event_awarded_at %}
          <dt>Utdelt på</dt>
            <dd>
                <a href="{{ honor.event_awarded_at.get_absolute_url }}">
                    {{ honor.event_awarded_at }}
                </a>
            </dd>
          {% endif %}
      </dl>
      <hr>
              {% load markdown %}
              {% if honor.nomination_text == "" %}
                {{"*Ingen nominasjonstekst registrert endå. Ta kontakt med styret om du veit kva teksta skal vera.*" | markdown}}
              {% else %}
               {{ honor.nomination_text | markdown }}
              {% endif %}
    </div>
  </div>
