{% extends 'base.html' %}
{% block sidebar %}{% endblock sidebar %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.3/datatables.min.css"/>
{% endblock css %}

{% block title_page %}Saldoar{%endblock title_page %}

{% block title_content %}Saldoar{% endblock title_content %}

{% block header %}
    {{ block.super }}

    <ul class="list-inline my-1">
        <li class="list-inline-item">
            <a href="{% url 'admin:brewing_transaction_changelist' %}" class="btn btn-primary btn-sm my-1">Sjå transaksjonar</a>
        </li>
    </ul>
{% endblock header %}

{% block content %}
    <dl class="dl-inline">
        <dt>Totalt innsatt bidrag</dt>
        <dd>{{ total_deposited }} NOK</dd>
        <dt>Totalt brukt bidrag</dt>
        <dd>{{ total_paid }} NOK</dd>
        <dt>Bryggekassesaldo</dt>
        <dd>{{ balance }} NOK</dd>
    </dl>
    

    <div class="mb-3 col-md-3">
        <label class="form-label" for="select-membership-status">
            Medlemsstatus:
        </label>
        <select class="select form-select" id="select-membership-status">
            <option value="">
                Alle
            </option>
            <option value="(Betalande|Aspirant)" selected>
                Aktive
            </option>
            {% for choice, display in membership_status_enum.choices %}
                <option value="{{ display }}">
                    {{ display }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="table-responsive">
    <table class="table table-striped table-sm" id="table-balance">
        <thead>
            <tr>
                <th></th>
                <th>Namn</th>
                <th>Medlemsstatus</th>
                <th>Innbetalt</th>
                <th>Anskaffa</th>
                <th>Saldo</th>
            </tr>
        </thead>
        <tbody class="align-middle">
            {% for user in users %}
                 <tr>
                    {% include "accounts/includes/avatar_table_td.html" with user=user only %}
                    </td>
                    <td>
                        <a href="{{ user.get_absolute_url }}">
                            {{ user }}
                        </a>
                    </td>
                    <td>{{ user.get_membership_status_display }}</td>
                    <td>
                        {{ user.deposited }}
                    </td>                    
                    <td>
                        {{ user.purchased }}
                    </td>
                    <td class="{% if user.balance < 0 %} bg-danger {% else %} bg-success {% endif %}">
                        {{ user.balance }}
                    </td>
                 </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}

{% block js %}
    <script src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.3/datatables.min.js"></script>
    {% load static %}
    <script src="{% static "brewing/balance_list.js" %}"></script>
{% endblock js %}
