{% extends "common/forms/form.html" %}

{% block form %}
	<p>
        {% load utils %}
        Er du sikker på at du vil skaffe <strong>{{ brew_size }}</strong> {{ brew }}
        for <strong>{{ form.amount.value }} NOK</strong>?
    </p>
    <p>
        Du har skaffa {{purchases_last_12_hours}} eining{{purchases_last_12_hours | pluralize:"ar"}}
        ({{ litres_purchased_last_12_hours|floatformat:2 }} L) dei siste 12 timane.
    </p>


    {% if purchases_last_12_hours <= 3 %}
    <p> Hugs å drikke litt vatn! </p>
    
    {% elif purchases_last_12_hours == 4 %}
    <p>Hei, {{request.user}}. </p>

    {% elif purchases_last_12_hours == 5 %}
    <p>Hei, er du tilbake igjen {{request.user}}? </P>

    {% elif purchases_last_12_hours == 6 %}
    <p> Det er kanskje på tide å roe litt ned? </p>

    {% elif purchases_last_12_hours == 7 %}
    <p> Legevakta er åpen 24/7.</p>

    {% elif purchases_last_12_hours == 8 %}
    <p> Nummeret te legevakta er 116 117.</p>

    {% elif purchases_last_12_hours == 9 %}
    <p> Følar du deg svimmel? Legg deg sjølv i sideleie og ring 113.</p>

    {% elif purchases_last_12_hours >= 10 %}
    <p> Ring 113!</p>
    {% endif %}

    {% if should_recieve_task %}
        <p> Oppgåve: {{random_task}} </p>
    {% endif %}

	{% load crispy_forms_tags %}
	{% crispy form %}
{% endblock %}
