{% extends "base.html" %}
{% block sidebar %}{% endblock sidebar %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.3/datatables.min.css"/>
{% endblock css %}

{% block title_page %}Brygg{% endblock title_page %}
{% block title_content %}Brygg{% endblock title_content %}

{% block header %}
    {{ block.super }}

    {% if perms.brewing.add_brew %}
        <ul class="list-inline my-1">
            <li class="list-inline-item">
                <a href="{% url 'brewing:BrewCreate' %}" class="btn btn-primary btn-sm my-1">Nytt brygg</a>
            </li>
        </ul>
    {% endif %}
{% endblock header %}

{% block content %}
<div class="mb-3 form-check">
    <input class="checkboxinput form-check-input" type="checkbox" value="" id="show-empty-brews" />
    <label class="form-check-label" for="show-empty-brews">
        Vis tomme brygg
    </label>
</div>

<div class="table-responsive">
    <table class="table table-sm table-striped" id="table-brews">
        <thead>
            <tr>
                <th>Namn</th>
                <th>Laga</th>
                <th>Literpris (NOK)</th>
                <th>Tilgjengelege storleikar</th>
                <th>Tilgjengeleg for anskaffing</th>
                <th>Tomt</th>
                <th>OG</th>
                <th>FG</th>
                <th>Alkoholprosent</th>
                <th>Pris/alkohol (NOK)</th>
                {% if perms.brewing.change_brew %}
                    <th>Rediger</th>
                {% else %}
                    <th class="d-none"> Hvis denne vises er noe galt</th>
                {% endif %}
            </tr>
        </thead>

        <tbody class="align-middle">
            {% for brew in brews %}
            <tr>
                <td>{{ brew.name }}</td>
                <td data-order="{{ brew.created | date:"U" }}">{{ brew.created | date:"j. F Y" }}</td>
                <td>{% firstof brew.price_per_liter "Ikkje bestemt" %}</td>
                <td>
                    {% if brew.sizes.all %}
                        <ul class="m-0">
                        {% for size in brew.sizes.all %}
                            <li>{{ size }}</li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <span class="fst-italic">Ingen</span>
                    {% endif %}
                </td>
                <td>{{ brew.available_for_purchase | yesno | capfirst }}</td>
                <td data-search="{{ brew.empty }}">{{ brew.empty | yesno | capfirst }}</td>
                <td>{% firstof brew.OG|floatformat:3 "Ukjent" %}</td>
                <td>{% firstof brew.FG|floatformat:3 "Ukjent" %}</td>
                <td data-order="{{ brew.alcohol_by_volume | floatformat }}">
                    {% if brew.alcohol_by_volume is not None %}
                        ~{{ brew.alcohol_by_volume | floatformat }} %
                    {% else %}
                        Ukjent
                    {% endif %}
                </td>
                <td data-order="{{ brew.price_per_ABV | floatformat:2 }}">
                    {% if brew.price_per_ABV is not None %}
                        {{ brew.price_per_ABV | floatformat:2 }} 
                    {% else %}
                        Ukjent
                    {% endif %}
                </td>
                {% if perms.brewing.change_brew %}
                    <td class="text-center">
                        <a
                        href="{% url 'brewing:BrewUpdate' brew.slug %}"
                        class="btn btn-secondary btn-sm"
                        >
                            Rediger
                        </a>                        
                    </td>
                    {% else %}
                    <td class="d-none"> Hvis denne vises er noe galt</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}

{% block js %}
    <script src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.3/datatables.min.js"></script>
    {% load static %}
    <script src="{% static "brewing/brew_list.js" %}"></script>
{% endblock js %}
