{% extends "common/forms/form.html" %}

{% block container_class %}container-fluid{% endblock container_class %}

{% block form %}
<div class="row">
    <div class="col-lg-6 d-none d-lg-block">
        {% load embed_pdf_url %}
        <iframe class="sticky-top w-100 pdf-iframe" src="{{ pdf.file.url }}"></iframe>
    </div>
    <section class="col-lg-6 col-12">
        {% load crispy_forms_tags %}
        {% crispy form %}
    </section>
</div>
{% endblock form %}

{% block css %}
    {% load static %}
    {% load compress %}
    {% compress css %}
	    <link
            href="{% static 'common/scss/pdf_iframe.scss' %}"
            rel="stylesheet"
            type="text/scss"
        >
    {% endcompress %}
{% endblock css %}

{% block js %}
    {{ block.super }}
    <script src={% static 'sheetmusic/parts_update_form.js' %}></script>
    <script src={% static 'common/forms/prevent_number_input_scroll.js' %}></script>
{% endblock js %}
