{% extends 'base.html' %}

{% block title_page %} Notearkiv {% endblock title_page %}
{% block title_content %} Alle notar {% endblock title_content %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.3/datatables.min.css"/>
{% endblock css %}

{% block header %}
    {{ block.super }}


    <ul class="list-inline my-1">
        <li class="list-inline-item">
            <a href="{% url 'sheetmusic:ScoreCreate' %}" class="btn btn-primary btn-sm my-1"> Ny note </a>
        </li>

        <li class="list-inline-item">
            <a href="{% url 'repertoire:ActiveRepertoires' %}" class="btn btn-primary btn-sm my-1"> Repertoar </a>
        </li>

        <li class="list-inline-item">
            <a href="{% url 'sheetmusic:ScoreRandom' %}" class="btn btn-secondary btn-sm my-1"> Tilfeldig note </a>
        </li>
    </ul>
{% endblock header %}

{% block content %}
    {% if scores %}
    <div class="table-responsive">
        <table class="table table-striped table-sm" id="score-list">
            <thead>
                <tr>
                    <th class="col-form-label">
                        Namn
                    </th>

                    <th class="col-form-label">
                        Favorittstemmer
                    </th>

                    <th class="col-form-label">
                        Arrangement
                    </th>

                    <th class="col-form-label">
                        Opphaveleg ifrå
                    </th>

                    <th class="col-form-label">
                        Lagt ut
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for score in scores %}
                    <tr id="tr-{{score.slug}}">
                        <td>
                            <a
                                class="larger-link"
                                data-larger-link-target="#tr-{{score.slug}}"
                                href="{% url "sheetmusic:ScoreView" score.slug %}"
                            >
                                {{ score.title }}
                            </a>
                        </td>

                        <td>
                            {% if score.user_has_favorite_parts %}
                                {% load embed_pdf_url %}
                                {% url "sheetmusic:FavoritePartsPdf" score.slug as favorite_parts_pdf_url%}

                                {% if request.user.use_embedded_pdf_viewer %}
                                <a href="{{ favorite_parts_pdf_url|embed_pdf_url_minimal }}"> Favorittstemmer </a>
                                {% else %}
                                <a href="{{ favorite_parts_pdf_url }}"> Favorittstemmer </a>
                                {% endif %}
                            {% endif %}
                        </td>

                        <td>
                            {{ score.arrangement }}
                        </td>

                        <td>
                            {{ score.originally_from }}
                        </td>

                        <td data-order="{{ score.created | date:"U" }}" class="white-space-nowrap">
                            <time
                                datetime="{{ score.created | date:"c" }}"
                                title="{{ score.created }}"
                            >
                                {{ score.created | date:"j. F, Y" }}
                            </time>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
{% endblock content %}

{% block js %}
    <script src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.3/datatables.min.js"></script>
    {% load static %}
    <script src="{% static "sheetmusic/score_list.js" %}"></script>
    <script src="{% static "common/js/larger_link.js" %}"></script>
{% endblock js %}
