{% extends 'base.html' %}

{% block title_page %}{{ score.title }}{% endblock title_page %}
{% block title_content %}{{ score.title }}{% endblock title_content %}

{% block header %}
    {{ block.super }}

    {% include "common/includes/created_modified.html" with object=score only %}

    {% if perms.sheetmusic.change_score or score.created_by == request.user %}
        <a class="btn btn-primary btn-sm mx-1" href="{% url 'sheetmusic:ScoreUpdate' score.slug %}"> Rediger </a>
    {% endif %}
    {% if perms.sheetmusic.add_part and perms.sheetmusic.change_part and perms.sheetmusic.delete_part or score.created_by == request.user %}
        <a class="btn btn-primary btn-sm mx-1" href="{% url 'sheetmusic:PartsUpdateIndex' score.slug %}"> Rediger stemmer </a>
    {% endif %}

    {% if perms.sheetmusic.delete_score or score.created_by == request.user %}
        <a class="btn btn-danger btn-sm mx-1" href="{% url 'sheetmusic:ScoreDelete' score.slug %}"> Slett </a>
    {% endif %}
{% endblock header %}

{% block content %}
    {% if score.content %}
    <section>
        {% load markdown %}
        {{ score.content | markdown }}
    </section>
    {% endif %}

    {% if score.arrangement or score.originally_from or score.composer or score.transcribed_by or score.sound_file or score.sound_link %}
    <section>
        <dl>
            {% if score.arrangement %}
                <dt> Arrangement </dt>
                <dd> {{ score.arrangement }} </dd>
            {% endif %}

            {% if score.originally_from %}
                <dt> Opphaveleg ifrå </dt>
                <dd> {{ score.originally_from }} </dd>
            {% endif %}

            {% if score.composer %}
                <dt> Komponist </dt>
                <dd> {{score.composer}} </dd>
            {% endif %}

            {% if score.transcribed_by %}
                <dt> Transkribert av</dt>
                <dd> {{ score.transcribed_by }} </dd>
            {% endif %}

            {% if score.sound_file %}
                <dt> Lydfil </dt>
                {% load utils %}
                <dd>
                    <audio controls src="{{ score.sound_file.url }}">
                        <a href="{{ score.sound_file.url }}"> {{ score.sound_file | filename }} </a>
                    </audio>
                </dd>
            {% endif %}

            {% if score.sound_link %}
                <dt> Lydlenkje </dt>
                <dd> <a href="{{ score.sound_link }}"> {{ score.sound_link }} </a> </dd>
            {% endif %}
        </dl>
    </section>
    {% endif %}

    {% if score.is_processing %}
    <section>
        <h2 class="fs-3">Automatisk stemmefinning</h2>
        <p>
            Automatisk stemmefinning skjer. Last sida på nytt for å få opp fleire stemmer. Når denne teksta vert borte er den automatiske stemmefinninga ferdig.
        </p>
    </section>
    {% endif %}

    {% if parts_favorite %}
    <section>
        <h2 class="fs-3"> Favorittstemmer </h2>

        {% include "sheetmusic/includes/table_parts.html" with parts=parts_favorite %}
    </section>
    {% endif %}


    {% if parts_instrument_group %}
    <section>
        <h2 class="fs-3"> {{request.user.instrument_type.group}}-stemmer </h2>

        {% include "sheetmusic/includes/table_parts.html" with parts=parts_instrument_group %}
    </section>
    {% endif %}


    {% if parts %}
    <section>
        <h2 class="fs-3"> Alle stemmer </h2>

        {% include "sheetmusic/includes/table_parts.html" with parts=parts %}
    </section>
    {% endif %}

    {% if score.pdfs.exists %}
    <section>
        <h2 class="fs-3"> Opphavelege PDFar </h2>

        <ul class="list-unstyled">
            {% for pdf in score.pdfs.all %}
                <li>
                    <a href="{{ pdf.file.url }}"> {{ pdf }} </a>
                </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}

    {% if score.edit_files.exists %}
    <section>
        <h2 class="fs-3"> Redigeringsfiler </h2>

        <ul class="list-unstyled">
            {% for edit_file in score.edit_files.all %}
                <li>
                    <a href="{{ edit_file.file.url }}"> {{ edit_file }} </a>
                </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}

    <section>
        <h2 class="fs-3"> Samlingar </h2>

        <ul class="list-unstyled">
            <li> <a href="{% url "sheetmusic:ScorePdf" score.slug %}"> PDF med alle stemmer </a> </li>
            <li> <a href="{% url "sheetmusic:ScoreZip" score.slug %}"> ZIP med alle stemmer </a> </li>
        </ul>
    </section>

    {% load comments %}
    {% comment_list score %}
{% endblock content %}

{% block js %}
    {% load static %}
    <script src="{% static 'common/js/fetching.js' %}"></script>
    <script src="{% static 'sheetmusic/favorite.js' %}"></script>
{% endblock js %}
