<div class="table-responsive">
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th>Stemme</th>
                <th><span class="visually-hidden">Les</span></th>
                <th><span class="visually-hidden">Last ned</span></th>
                <th><span class="visually-hidden">Favoritt</span></th>
            </tr>
        </thead>

        <tbody>
        {% for part in parts %}
            <tr>
                <td>
                    {{ part }}
                </td>
                <td>
                    {% load embed_pdf_url %}
                    <a
                        class="btn btn-primary btn-sm"
                        {% if request.user.use_embedded_pdf_viewer %}
                        href="{{ part.get_absolute_url|embed_pdf_url_minimal }}"
                        {% else %}
                        href="{{ part.get_absolute_url }}"
                        {% endif %}
                    >
                        Opne
                    </a>
                </td>
                <td>
                    <a href="{{ part.get_absolute_url }}" download class="btn btn-secondary btn-sm"> Last ned </a>
                </td>
                <td>
                    <form
                        action="{% url "sheetmusic:FavoritePartUpdate" %}"
                        data-method="{% if part.is_favorite %}DELETE{% else %}POST{% endif %}"
                        class="form-favorite-part"
                    >
                        <input type="hidden" name="part_pk" value="{{ part.pk }}" />
                        <button class="bg-transparent border-0">
                            {% load static %}
                            {% if part.is_favorite %}
                                <img src="{% static 'sheetmusic/star-filled.svg' %}" alt="Fjern som favoritt" />
                            {% else %}
                                <img src="{% static 'sheetmusic/star-outline.svg' %}" alt="Gjer til favoritt" />
                            {% endif %}
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
