{% extends 'base_base.html' %}
{% block navbar %}
	{% load navbar %}
	{% navbar user request.path %}
{% endblock navbar %}

{% block body %}
	{% include "common/includes/messages.html" %}

	<div class="{% block container_class %}container{% endblock container_class %}">
		<div class="row">
			<main class="col">
				<article class="mb-5">
					{% block header_container %}
						<header class="mb-4">
						{% block header %}
							{% if breadcrumbs %}
								{% include "common/breadcrumbs/breadcrumbs.html" with breadcrumbs=breadcrumbs only %}
							{% endif %}

							<h1 class="mb-0">{% block title_content %}{% endblock title_content %}</h1>
						{% endblock header %}
						</header>
					{% endblock header_container %}

					{% block content %}
					{% endblock content %}
				</article>
			</main>

			{% block sidebar %}
			<aside class="col-12 col-lg-3">
				{% load sidebar %}
				{% sidebar user request.path %}
			</aside>
			{% endblock sidebar %}
		</div>
	</div>
{% endblock body %}
