<!DOCTYPE html>
<html lang="nn-no">

<head>
	<title>{% block title_page %}Vev 2.0{% endblock %} | Studentorchesteret Dei Taktlause</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% load static %}
	<link rel="icon" href="{% static 'images/favicon.ico' %}" sizes="any">
	<link rel="icon" href="{% static 'images/logo.svg' %}" type="image/svg+xml">

	{% load compress %}
    {% if user.light_mode %}
        {% compress css %}
        <link
            href="{% static 'scss/bootstrap-light.scss' %}"
            rel="stylesheet"
            type="text/scss"
        > 
        {% endcompress %}
    {% else %}
        {% compress css %}
        <link
            href="{% static 'scss/bootstrap-dark.scss' %}"
            rel="stylesheet"
            type="text/scss"
        >
        {% endcompress %}
    {% endif %}

	<meta name="color-scheme" content="dark light">
	<meta name="theme-color" content="#a50104">

	{% if ENABLE_PWA_MANIFEST %}
		{% load static %}
		<!-- Path to manifest.json -->
		<link rel="manifest" href="{% static "pwa/manifest.json" %}">
		<!-- Add to homescreen for Chrome on Android -->
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="application-name" content="Taktlausveven">
		<!-- Add to homescreen for Safari on iOS -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-title" content="Taktlausveven">
		<meta name="apple-mobile-web-app-status-bar-style" content="default">
		<link rel="apple-touch-icon" href="{% static "images/apple-touch-icon.png" %}" sizes="">
	{% endif %}
	{% if ENABLE_SERVICEWORKER %}
		<!-- Register serviceworker -->
		<script src="{% static "pwa/js/register_serviceworker.js" %}"></script>
	{% endif %}

	{% block css %}{% endblock css %}
</head>

<body class="overflow-auto" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
	{% block navbar %}
	{% endblock navbar %}

	{% block body %}
	{% endblock body %}

	{% load static %}
	<script src="{% static "bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>
	<script src="https://unpkg.com/htmx.org@1.8.5" integrity="sha384-7aHh9lqPYGYZ7sTHvzP1t3BAfLhYSTy9ArHdP3Xsr9/3TlGurYgcPBoFmXX2TX/w" crossorigin="anonymous"></script>
	<script 
		src="https://cdn.jsdelivr.net/npm/bigpicture@2.6.1/dist/BigPicture.min.js" 
		integrity="sha256-OsbS8Cw/fMpgT6GBFfqhvmX9yJLwzE6+me56KzpSbAs=" 
		crossorigin="anonymous"
	></script>
	<script src="{% static "pictures/lightbox.js" %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/tom-select@2.1.0/dist/js/tom-select.complete.min.js"></script>
	<script src="{% static "common/forms/autocomplete_select.js" %}"></script>
	{% block js %}{% endblock js %}
</body>
