{% extends 'base.html' %}
{% block sidebar %}{% endblock sidebar %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.3/datatables.min.css"/>
{% endblock css %}

{% block title_page %}Medlemsliste{%endblock title_page %}
{% block title_content %}Medlemsliste{% endblock title_content %}

{% block header %}
    {{ block.super }}

    <ul class="list-inline my-1">
        <li class="list-inline-item">
            <a href="{% url 'accounts:InstrumentGroupLeaderList' %}" class="btn btn-secondary btn-sm">Instrumentgruppeleiarar</a>
        </li>

        <li class="list-inline-item">
            <a href="{% url 'accounts:BirthdayList' %}" class="btn btn-secondary btn-sm">Snaraste bursdagar</a>
        </li>
        <li class="list-inline-item">
            <a href="{% url 'honor:HonorList' %}" class="btn btn-secondary btn-sm">Heders- og æresmedlemmar</a>
        </li>
    </ul>
{% endblock header %}

{% block content %}
    <dl class="dl-inline">
        <dt>Betalande</dt>
        <dd>Dei som har betalt kontingent.</dd>
        <dt>Aspirant</dt>
        <dd>Dei som er på aspirantsemesteret sitt.</dd>
        <dt>Aktive</dt>
        <dd>Betalande medlemmar og aspirantar.</dd>
        <dt>Pensjonistar</dt>
        <dd>
            Dei som anten har vore aktive i DT i to år eller meir og har slutta,
            eller har vorte gjeve pensjoniststatus av styret.
        </dd>
        <dt>Inaktive</dt>
        <dd>Dei som har vore med i DT i mindre enn to år og slutta.</dd>
    </dl>

    <div class="mb-3 col-md-3">
        <label class="form-label" for="select-membership-status">
            Medlemsstatus:
        </label>
        <select class="select form-select" id="select-membership-status">
            <option value="">
                Alle
            </option>
            <option value="(Betalande|Aspirant)" selected>
                Aktive
            </option>
            {% for choice, display in membership_status_enum.choices %}
                <option value="{{ display }}">
                    {{ display }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="table-responsive">
    <table class="table table-striped table-sm" id="member_overview">
        <thead>
            <tr>
                <th> </th>
                <th>Namn</th>
                <th>Medlemsstatus</th>
                <th>Instrument</th>
                <th>E-post</th>
                <th>Telefonnummer</th>
                <th>Roller</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
                 <tr>
                    {% include "accounts/includes/avatar_table_td.html" with user=member only %}
                     <td> <a href="{{ member.get_absolute_url }}">
                        {{ member.name_with_pronouns }} 
                    </a></td>
                    <td>{{ member.get_membership_status_display }} </td>
                     <td>{{ member.instrument_type.group }}</td>
                     <td>
                        <a href="mailto:{{ member.email }}">{{ member.email }}</a>
                    </td>
                     <td>
                        {% if member.phone_number %}
                            <a href="tel:{{ member.phone_number }}">{{ member.phone_number }}</a>
                        {% endif %}
                    </td>
                     <td>
                        <ul class="m-0">
                        {% for group in member.groups.all %}
                            <li>{{ group }}</li>
                        {% endfor %}
                        </ul>
                    </td>
                 </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}

{% block js %}
    <script src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.3/datatables.min.js"></script>
    {% load static %}
    <script src="{% static "accounts/member_list.js" %}"></script>
{% endblock js %}
