{% extends 'base.html' %}

{% block title_page %}{{ profile.name }}{% endblock title_page %}

{% block content %}
    <div class="row gy-3">
        <div class="col-lg-3">
            <div class="d-flex justify-content-center">
                {% load images %}
                {% image image=profile.avatar description=profile.name fallback_url=profile.default_avatar max_height=100 %}
            </div>
            <h1 class="fs-3 text-center mb-1">
                {{ profile.name }}
            </h1>
            <div class="text-center">
                @{{ profile.username }}
            </div>

            {% if request.user == profile or perms.accounts.change_usercustom %}
            <div class="container">
                <div class="row justify-content-center">
                    <a class="btn btn-primary btn-sm col-12 col-sm-6 col-lg-12 my-2" href="{% url 'accounts:UserCustomUpdate' profile.slug %}">Rediger profil</a>
                </div>

                {% if request.user == profile %}
                    <div class="row justify-content-center">
                        <a class="btn btn-primary btn-sm col-12 col-sm-6 col-lg-12 my-2" href="{% url 'password_change' %}">Endre passord</a>
                    </div>
                {% endif %}
            </div>
            {% endif %}
        </div>

        <div class="col-lg-9">
            <div class="row gy-3">
                <div class="col-md-6">
                    <section class="card h-100">
                        <div class="card-body">
                            <h2 class="fs-3">Personleg</h2>
                            <dl>
                                <dt>Fullt namn</dt>
                                <dd>{% firstof profile.name "Ukjent" %}</dd>                                
                                
                                <dt>Pronomen</dt>
                                <dd>{% firstof profile.pronouns "Ukjent" %}</dd>

                                <dt>Fødselsdato</dt>
                                <dd>{% firstof profile.birthdate "Ukjent" %}</dd>

                                <dt>Bio</dt>
                                <dd>
                                    {% load markdown %}
                                    {% firstof profile.biography|markdown "*Ingen bio skrive*"|markdown%}
                                </dd>
                            </dl>
                        </div>
                    </section>
                </div>

                <div class="col-md-6">
                    <section class="card h-100">
                        <div class="card-body">
                            <h2 class="fs-3">Kontakt</h2>
                            <dl>
                                <dt>Telefonnummer</dt>
                                <dd>
                                    {% if profile.phone_number %}
                                    <a href="tel:{{ profile.phone_number }}">{{ profile.phone_number }}</a>
                                    {% else %}
                                    Ukjent
                                    {% endif %}
                                </dd>

                                <dt>E-post</dt>
                                <dd>
                                    <a href="mailto:{{ profile.email }}">{{ profile.email }}</a>
                                </dd>

                                <dt>Adresse</dt>
                                <dd class="p-margin-last-0">
                                    {% if profile.address %}
                                    {% load markdown %}
                                    {{ profile.address | markdown }}
                                    {% else %}
                                    Ukjent
                                    {% endif %}
                                </dd>

                                <dt>Heimeside</dt>
                                <dd>
                                    {% if profile.home_page %}
                                    <a href="{{ profile.home_page }}">{{ profile.home_page }}</a>
                                    {% else %}
                                    Ukjent
                                    {% endif %}
                                </dd>
                            </dl>
                        </div>
                    </section>
                </div>

                <div class="col-md-6">
                    <section class="card h-100">
                        <div class="card-body">
                            <h2 class="fs-3">Medlemskap</h2>
                            <dl>
                                <dt>Medlemsstatus</dt>
                                <dd>{{ profile.get_membership_status_display }}</dd>

                                <dt>Medlemsperiode</dt>
                                <dd>{% firstof profile.membership_period "Ukjent" %}</dd>

                                {% if profile.honors.all %}
                                    <dt>Heder</dt>
                                    {% for honor in profile.honors.all %}
                                        <dd>
                                            <a href="{% url 'honor:HonorList' %}#{{honor.slug}}">
                                                {{ honor.get_honor_type_display }}
                                            </a>
                                        </dd>
                                    {% endfor %}
                                {% endif %}

                                 {% if profile.can_wear_hats != None %}
                                    <dt>Kan bruka hattar?</dt>
                                    <dd>{{ profile.can_wear_hats|yesno|capfirst }}</dd>
                                 {% endif %}

                                <dt>Roller</dt>
                                <dd>
                                    {% if not profile.groups.exists %}
                                        Ingen
                                    {% endif %}
                                    <ul>
                                        {% for group in profile.groups.all %}
                                        <li>{{ group }}</li>
                                        {% endfor %}
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                    </section>
                </div>

                <div class="col-md-6">
                    <section class="card h-100">
                        <div class="card-body">
                            <h2 class="fs-3">Materiale</h2>
                            <dl>
                                <dt>Instrumentgruppe</dt>
                                <dd>
                                    {% if profile.instrument_type %}
                                        {{ profile.instrument_type.group }}
                                        {% if profile.instrument_type.name != profile.instrument_type.group.name %}
                                        ({{ profile.instrument_type }})
                                        {% endif %}
                                    {% else %}
                                        Ukjent
                                    {% endif %}
                                </dd>

                                {% if profile.instruments.exists %}
                                    <dt>Lånte instrument</dt>
                                    <dd>
                                        <ul class="mb-0">
                                            {% for instrument in profile.instruments.all %}
                                            <li>{{ instrument }}</li>
                                            {% endfor %}
                                        </ul>
                                    </dd>
                                {% endif %}

                                {% if profile.jacket %}
                                    <dt>Jakkenummer</dt>
                                    <dd>
                                        {{ profile.jacket.number }} 
                                    </dd>
                                {% endif %}
                                
                            </dl>
                        </div>
                    </section>
                </div>

                {% if request.user == profile or perms.accounts.view_storage_access %}
                <div class="col-md-6">
                    <section class="card h-100">
                        <div class="card-body">
                            <h2 class="fs-3">Lagertilgjenge</h2>
                            <dl>
                                <dt>Studentkortnummer</dt>
                                <dd>{% firstof profile.student_card_number "Ukjent" %}</dd>
                            </dl>

                            <dl>
                                <dt>Har lagertilgjenge</dt>
                                <dd>{{ profile.has_storage_access | yesno | capfirst }}</dd>
                            </dl>
                        </div>
                    </section>
                </div>
                {% endif %}

                <div class="col-md-6">
                    <section class="card h-100">
                        <div class="card-body">
                            <h2 class="fs-3">Anna</h2>
                            <dl>
                                {% if user == profile or perms.brewing.view_transaction %}
                                <dt>Bryggjekassesaldo</dt>
                                <dd>
                                    {{ profile.brewing_transactions.balance }} NOK
                                </dd>
                                {% endif %}

                                <dt>Lys modus</dt>
                                <dd>
                                    {{ profile.light_mode | yesno | capfirst }}
                                </dd>

                                {% if user == profile or perms.accounts.view_image_sharing_consent %}
                                <dt>Samtykkje til deling av bilete</dt>
                                <dd>
                                    {{ profile.get_image_sharing_consent_display }}
                                </dd>
                                {% endif %}

                                {% if profile.orchestras.exists %}
                                <dt>Medlem i anna studentorchester</dt>
                                <dd>
                                    <ul class="mb-0">
                                        {% for orchestra in profile.orchestras.all %}
                                        <li>{{ orchestra }}</li>
                                        {% endfor %}
                                    </ul>
                                </dd>
                                {% endif %}

                                {% if profile.calendar_feed_start_date %}
                                {% if user == profile or perms.accounts.view_calendar_feed_settings %}
                                <dt>Startdato for kalenderintegrasjon</dt>
                                <dd>
                                    <time datetime="{{ profile.calendar_feed_start_date | date:"c" }}">
                                        {{ profile.calendar_feed_start_date }}
                                    </time>
                                </dd>
                                {% endif %}
                                {% endif %}
                            </dl>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
